{% load staticfiles %}
<html>
<!-- Latest compiled and minified CSS -->

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Indie+Flower|Love+Ya+Like+A+Sister" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">

    <title>Apoio para Mulheres na Computeção</title>
  </head>
  <div id ="binary" >
    <img src="{% static 'images/binary.jpg' %}" alt="Women in Computing">
  </div>
  <h1> Mulheres Na Computacao </h1>

  <p> A iniciativa do programa e' apoiar mulheres na area de tecnologia
  que inspiram sua comunidade e outras meninas a cogitarem o curso superior na area
de tecnologia </p>
  <center>
  <button class="w3-xlarge w3-button w3-round-xxlarge w3-blue w3-hover-white w3-border w3-hover-tex-black"> Inscrever  </button> </center>

 </html>
